/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=VT323);

/* Global */
* {
  margin: 0;
  padding: 0;
  color: #97da97;
  text-shadow: 1px 1px 0px rgba(129, 35, 224, 0.4);
  text-decoration: none;
}

canvas {
  display: block;
  position: absolute;
  opacity: 0.12;
}

html {
  min-height: 100%;
  overflow: hidden;
}

span {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  animation: blinkTextCursor 500ms;
}

h1 {
  font-family: "VT323", monospace;
  font-size: 10em;
  min-width: 5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  margin-top: -0.1em;
}

.container {
  position: relative;
}

.content {
  position: absolute;
  padding: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body {
  height: calc(100vh - 8em);
  font-family: "VT323", monospace;
}

.line-1 {
  position: relative;
  margin-top: -0.1em;
  top: 1.5em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.link {
  color: #FF8484;
  text-shadow: 2px 2px 1px #c01515;
}

.logo {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: -3em; */
}
/* Animation */
.anim-typewriter {
  animation: typewriter 8s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@media (min-width: 320px) and (max-width: 767px) {
  .content {
    padding: 0.5em;
    padding-top: 4em;
  }

  .logo {
    width: 40%;
    /* margin-top: -3em; */
  }

  h1 {
    padding-top: 0.5em;
    font-size: 4em;
    min-width: 1em;
  }

  .line-1 {
    font-size: 2em;
    text-align: initial;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    padding: 0.5em;
    padding-top: 4em;
  }

  .logo {
    width: 40%;
  }

  h1 {
    padding-top: 1em;
    font-size: 8em;
    min-width: 3em;
  }

  .line-1 {
    font-size: 4em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 10em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: solid rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}
